extends layout

block content 
	h1 #{title}
	p
		form(method="post") 
			.form
				label(for='postcode') 郵便番号:
				input(type="text", placeholder='8130017' name='postcode')
			button.btn.btn-primary(type='submit') 変換

	p 住所：#{address}
	
	if errors 
		ul 
			for error in errors 
				li!= error.msg
				